.profile__rectangle {
    margin: 0;
    width: 24px;
    height: 24px;
    background-image: url('../../../images/Vector-karandash.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.profile__rectangle:hover {
    opacity: .6;
}